[submodule "emacs/plantuml-mode"]
	path = emacs/plantuml-mode
	url = git@github.com:zwz/plantuml-mode.git
[submodule "emacs/glsl-mode"]
	path = emacs/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
